* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background-color: #ABC4A1;
    --main-background-color: #9DB4AB;
    --card-background-color: white;
}

body {
    overflow: hidden;
}

html {
    background-color: var(--main-background-color);
}

@media (min-width: 500px) {
    body {
        height: 667px;
        width: 375px;
    }
}


