/* Stylesheet for Card.js */

.Card {
    height: 30%;
    width: calc(var(--doc-width) * .9);
    box-shadow: 0 0 4px black;
    background-color: beige ;
    border-radius: 2px;
    padding: .25rem;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.imgsWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
}

.treeImg {
    height: 100%;
}

.imgFrame {
    height: 100%;
    width: 30%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px 0 black;
    background-color: black;
}

/* AMERICAN HORNBEAM */
.americanhornbeam .needleLeafImg, .americanhornbeam.needleLeafImg {
    height: 80%;
    transform: rotate(.25turn);
}

/* EASTERN HEMLOCK */
.easternhemlock .needleLeafImg, .easternhemlock.needleLeafImg {
    height: 70%;
    transform: rotate(.25turn);
}

.easternhemlock.coneFruitImg {
    height: 100%;
}


/* EASTER RED CEDAR */
.easternredcedar .overviewImg, .easternredcedar.overviewImg {
    height: 110%;
}

.easternredcedar .needleLeafImg, .easternredcedar.needleLeafImg {
    height: 90%;
    transform: rotate(.25turn);
}

/* FLOWERING DOGWOOD */
.floweringdogwood .overviewImg {
    height: 70%
}

.floweringdogwood.overviewImg {
    height: 30% !important;
}

.floweringdogwood .coneFruitImg {
    position: relative;
    height: 80%;
    transform: rotate(-.25turn) translate(0, calc(var(--doc-height) * .01));
}

.floweringdogwood.coneFruitImg {
    position: relative;
    transform: translate(calc(var(--doc-width) * .05), calc(var(--doc-height) * -.2)) rotate(-.25turn);
}

.floweringdogwood .needleLeafImg, .floweringdogwood.needleLeafImg {
    height: 80%;
    transform: rotate(.25turn);
}

/* FRASER FIR */
.fraserfir .needleLeafImg, .fraserfir.needleLeafImg {
    height: 60%;
}

.fraserfir.overviewImg {
    height: 30% !important;
}

/* RIVER BIRCH */
.rvrbirch .needleLeafImg, .rvrbirch.needleLeafImg {
    height: 70%;
    transform: rotate(-.25turn);
}

/* TULIP TREE */
.tuliptree .needleLeafImg, .tuliptree.needleLeafImg {
    height: 70%;
    transform: rotate(.25turn);
}

/* WHITE PINE */
.whitepine .needleLeafImg, .whitepine.needleLeafImg {
    height: 75%;
    transform: rotate(.25turn);
}

.whitepine.overviewImg {
    height: 60% !important;
}

/* YELLOW BUCKEYE */
.ylwbuckeye .coneFruitImg, .ylwbuckeye.coneFruitImg {
    height: 80%;
}

.ylwbuckeye.overviewImg {
    height: 50% !important;
}

/* SOUTHERN CATALPA */
.southerncatalpa .overviewImg {
    height: 60%;
}

.southerncatalpa.overviewImg {
    height: 50% !important;
}

.southerncatalpa .needleLeafImg, .southerncatalpa.needleLeafImg {
    height: 80%;
    transform: rotate(-.25turn);
}

/* AMERICAN BASSWOOD */
.americanbasswood .overviewImg, .americanbasswood.overviewImg {
    transform: rotate(.25turn);
}

.americanbasswood .needleLeafImg, .americanbasswood.needleLeafImg {
    height: 65%;
}

.americanbasswood .needleLeafFrame, .americanbasswood.needleLeafFrame {
    background-color: white;
}

/* RED SPRUCE */
.redspruce.overviewImg {
    height: 40% !important;
    position: relative;
    top: calc(var(--doc-height) * .1)
}

/* TABLE MOUNTAIN PINE */
.tblmtnpine .overviewImg {
    height: 80%;
}

.tblmtnpine.overviewImg {
    height: 40% !important;
}

/* Black Cherry */
.blackcherry.needleLeafImg {
    height: 70%;
}

/* Slippery Elm */
.slipperyelm .needleLeafImg, .slipperyelm.needleLeafImg {
    transform: rotate(.5turn);
}
.slipperyelm.needleLeafImg {
    height: 80%;
}
.slipperyelm .coneFruitImg, .slipperyelm.coneFruitImg {
    height: 80%;
}
.slipperyelm .coneFruitFrame {
    background-color: black;
}

/* Sassafras */
.sassafras .needleLeafImg, .sassafras.needleLeafImg {
    height: 70%;
}

/* Black Locust */
.blacklocust.needleLeafImg {
    height: 70%;
}

/* Post Oak */
.postoak .overviewImg {
    height: 70%;
}
.postoak.needleLeafImg {
    height: 70%;;
}

/* Chestnut Oak */
.chestnutoak.needleLeafImg {
    height: 60%;
}

/* Blackjack Oak */
.blackjackoak.needleLeafImg {
    height: 60%;
}
.blackjackoak.overviewImg {
    height: 50% !important;
}

/* Southern Red Oak */
.southernredoak .coneFruitImg {
    height: 50%;
}
.southernredoak.coneFruitImg {
    height: 40%;
}

/* Scarlet Oak */
.scarletoak.needleLeafImg {
    height: 80%;
}

/* White Oak */
.whiteoak .overviewImg {
    height: 55%;
    transform: translate(5%, 0);
}
.whiteoak.overviewImg {
    height: 50% !important;
}
.whiteoak.coneFruitImg {
    height: 60%;
}
.whiteoak .needleLeafImg {
    height: 70%;
}
.whiteoak.needleLeafImg {
    height: 60% !important;
}

/* Sycamore */
.sycamore .coneFruitImg, .sycamore.coneFruitImg {
    height: 70%;
    transform: translate(10%, 0);
}
.sycamore .needleLeafImg {
    height: 60%;
}
.sycamore.needleLeafImg {
    height: 50%;
}

/* Virginia Pine */
.virginiapine .coneFruitImg {
    height: 80%;
}
.virginiapine.coneFruitImg {
    height: 60%;
}
.virginiapine.needleLeafImg {
    height: 70%;
}

/* Loblolly Pine */
.loblollypine.overviewImg {
    height: 60% !important;
}
.loblollypine.needleLeafImg {
    height: 70%;
}

/* Pitch Pine */
.pitchpine.overviewImg {
    height: 60% !important;
}
.pitchpine.coneFruitImg {
    height: 60%;
}
.pitchpine .needleLeafImg {
    height: 80%;
}
.pitchpine.needleLeafImg {
    height: 40% !important;
}

/* Shortleaf Pine */
.shortleafpine .coneFruitImg {
    height: 80%;
}
.shortleafpine.coneFruitImg {
    height: 50% !important;
}
.shortleafpine.needleLeafImg {
    height: 70% !important;
}

/* Sweet Gum */
.sweetgum .needleLeafImg {
    height: 90%;
}
.sweetgum.needleLeafImg {
    height: 70% !important;
}
.sweetgum.coneFruitImg {
    height: 70% !important;
}

/* White Ash */
.whiteash.coneFruitImg {
    height: 70% !important;
}
.whiteash .needleLeafImg {
    height: 55%;
}
.whiteash.needleLeafImg {
    height: 45%;
}

/* American Beech */
.americanbeech .overviewImg {
    height: 80%;
}
.americanbeech.overviewImg {
    height: 60% !important;
}
.americanbeech .coneFruitImg {
    height: 60%;
}
.americanbeech.coneFruitImg {
    height: 50%;
}
.americanbeech.needleLeafImg {
    height: 70% !important;
}

/* Hawthorn */
.hawthorn .coneFruitImg, .hawthorn.coneFruitImg {
    height: 80%;
}
.hawthorn.needleLeafImg {
    height: 55%;
}

/* Easter Redbud */
.easternredbud .overviewImg {
    height: 90%;
    transform: translate(8%, 0);
}
.easternredbud.coneFruitImg {
    height: 60% !important;
}
.easternredbud .needleLeafImg {
    height: 80%;
    transform: translate(-8%, 0);
}
.easternredbud.needleLeafImg {
    height: 80% !important;
    transform: translate(-8%, 0);
}

/* American Chestnut */
.americanchestnut .overviewImg {
    height: 90%;
}
.americanchestnut .coneFruitImg {
    height: 60%;
}
.americanchestnut.coneFruitImg {
    height: 50%;
}
.americanchestnut .needleLeafImg {
    height: 90%;
}
.americanchestnut.needleLeafImg {
    height: 50%;
}

/* Sourwood */
.sourwood .overviewImg {
    height: 84%;
}
.sourwood.overviewImg {
    height: 60% !important;
}
.sourwood .needleLeafImg {
    height: 70%;
}
.sourwood.needleLeafImg {
    height: 60% !important;
}

/* Persimmon */
.persimmon .coneFruitImg {
    height: 70%;
}
.persimmon.coneFruitImg {
    height: 70%;
}
.persimmon.needleLeafImg {
    height: 70%;
}

/* Blackhaw */
.blackhaw .overviewImg {
    height: 70%;
}
.blackhaw.overviewImg {
    height: 50% !important;
}
.blackhaw .coneFruitImg {
    height: 70%;
}
.blackhaw.coneFruitImg {
    height: 70% !important;
}
.blackhaw.needleLeafImg {
    height: 70% !important;
}

/* Elderberry */
.elderberry.needleLeafImg {
    height: 70% !important;
}

/* Tag Alder */
.tagalder.coneFruitImg {
    height: 70% !important;
}

/* Mountain Winterberry */
.mountainwinterberry .overviewImg {
    height: 70%;
}
.mountainwinterberry.overviewImg {
    height: 60% !important;
}

/* Pawpaw Tree */
.pawpaw .overviewImg {
    height: 70%;
}
.pawpaw.overviewImg {
    height: 40% !important;
}
.pawpaw .coneFruitImg {
    height: 50%;
}
.pawpaw.coneFruitImg {
    height: 50% !important;
}
.pawpaw .needleLeafImg {
    height: 70%;
}
.pawpaw.needleLeafImg {
    height: 50% !important;
}

/* Staghorn Sumac */
.staghornsumac .overviewImg {
    height: 70%;
}
.staghornsumac.overviewImg {
    height: 40% !important;
}
.staghornsumac.coneFruitImg {
    height: 60% !important;
}
.staghornsumac.needleLeafImg {
    height: 50% !important;
}

/* Mockernut Hickory */
.mockernuthickory .coneFruitImg {
    height: 70%;
}
.mockernuthickory.coneFruitImg {
    height: 50% !important;
}
.mockernuthickory.needleLeafImg {
    height: 50% !important;
}

/* Shagbark Hickory */
.shagbarkhickory.coneFruitImg {
    height: 80% !important;
}
.shagbarkhickory.needleLeafImg {
    height: 60% !important;
}

/* Pignut Hickory */
.pignuthickory .coneFruitImg {
    height: 90%;
}
.pignuthickory.coneFruitImg {
    height: 50% !important;
}
.pignuthickory .needleLeafImg {
    height: 90%;
}
.pignuthickory.needleLeafImg {
    height: 50% !important;
}

/* Yellow Birch */
.yellowbirch.needleLeafImg {
    height: 70% !important;
}

/* Mimosa */
.mimosa.coneFruitImg {
    height: 60% !important;
}
.mimosa.needleLeafImg {
    height: 55% !important;
}

/* Mountain Maple */
.mountainmaple.needleLeafImg {
    height: 60% !important;
}