/* Stylesheet for GameInfo.js */

@font-face {
    font-family: DellaRespira;
    src: url(./assets/fonts/DellaRespira.ttf);
}

.GameInfo {
    align-self: stretch;
    padding-top: .2rem;
    white-space: nowrap;
    font-family: DellaRespira;
    background-color: white;
    box-shadow: 0 0 6px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: calc(var(--doc-height) * .08);
}

.findTreeContainer {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    justify-content: center;
}