/* Stylesheet for GameInfo.js */

@font-face {
    font-family: DellaRespira;
    src: url(./assets/fonts/DellaRespira.ttf);
}

.GameInfo {
    padding-top: .2rem;
    white-space: nowrap;
    font-family: DellaRespira;
    background-color: white;
    z-index: -1;
    box-shadow: 0 0 4px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 8vh;
}

.findTreeContainer {
    grid-column: 2/3;
    text-align: center;
}