
.cardsContainer {
    position: relative;
    padding-inline: calc(var(--doc-width)*.06);
    padding-top: .5rem;
    --cards-container-height: calc(var(--doc-height)*.835);
    height: var(--cards-container-height);
    overflow: auto;
}
