
.cardsContainer {
    position: relative;
    padding-inline: 1rem;
    padding-top: .5rem;
    --cards-container-height: calc(var(--doc-height)*.835);
    height: var(--cards-container-height);
    overflow: hidden;
}
