/* Stylesheet for App.js */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
}

.cardsContainer {
    padding-inline: 5vw;
    padding-top: 1rem;
    height: 84vh;
    overflow-y: auto;
}
