/* Stylesheet for App.js */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.App {
    max-width: 500px;
    display: grid;
    user-select: none;
    background-color: var(--main-background-color);
}
