
.staticCard {
    height: 50% !important;
    box-shadow: 0 0 4px black;
    background-color: white ;
    border-radius: 2px;
    padding: .25rem;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.selectionResultsSplashHeader {
    border-radius: 6px;
    background-color: white;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionResultsSplashHeader.correct {
    border: 2px solid green;
}

.selectionResultsSplashHeader.incorrect {
    border: 2px solid red;
}

.selectionResultsSplashButton {
    position: absolute;
    bottom: .25rem;
    right: .25rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    border-radius: 6px;
}