/* Stylesheet for Appheader.js */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pine;
    src: url(./assets/fonts/pine-forest.otf);
}

.AppHeader {
    box-shadow: 0px 0px 4px black;
    background-color: var(--header-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    align-items: center;
    align-content: start;
    padding-inline: .4rem;
    height: 8vh;
}



.hero {
    font-family: pine;
    font-size: 6vh;
    white-space: nowrap;
    grid-column: 2/3;
    justify-self: center;
}

.hamburger {
    border-radius: 2px;
    height: 2rem;
    grid-column: 3/4;
    justify-self: right;
}