/* Stylesheet for Appheader.js */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pine;
    src: url(./assets/fonts/pine-forest.otf);
}

.AppHeader {
    background-color: var(--header-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    align-items: center;
    padding-inline: .4rem;
    height: calc(var(--doc-height) * .08);
    box-shadow: 0 0 4px black;
    z-index: 1;
}



.hero {
    font-family: pine;
    font-size: calc(var(--doc-height) * .06);
    white-space: nowrap;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.hamburger {
    border-radius: 2px;
    height: 2rem;
    grid-column: 3/4;
    justify-self: right;
    padding: .2rem;
}

.hamburger:active {
    background-color: beige;
}